.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 25px;
}
img:hover{
    border-radius: 140px;
    box-shadow: 0 6px 8px rgba(red, green, blue, 0.3);
}